/* ------------------------------------ 

CSS TABLE OF CONTENTS 

# GLOBAL CSS 
    # BODY
    # TYPOGRAPHY
    # LINKS
    # BUTTONS

------------------------------------  */
/* HEADING */
body {
  font-family: "Fira Sans", sans-serif;
  font-size: 100%;
  line-height: 1.4; }

h1, h2, h3 {
  font-family: "miller-text", serif;
  margin: .5em 0; }

h1 {
  font-size: 3em;
  line-height: 1; }

h2 {
  font-size: 2em;
  line-height: 1.1; }

h3 {
  font-size: 1.5em;
  line-height: 1.2; }

p {
  max-width: 35em; }

a {
  color: #00dfcc; }

a:hover {
  color: #11f577; }

hr {
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
  margin-bottom: 0; }

/* TYPE SPECIMEN */
.mainhead {
  font-size: 4em;
  font-family: "miller-text", serif;
  color: #4eeb95; }

.subhead {
  font-family: "Fira Sans", sans-serif;
  color: #4eeb95; }

button {
  font-size: inherit; }

button,
.button {
  background-color: #00dfcc;
  color: #fff;
  padding: 1em;
  display: inline-block;
  margin: .5em;
  border-radius: 2em;
  margin-bottom: 2em; }
  button:hover,
  .button:hover {
    background-color: #11f577;
    color: #fff; }
  button.alt,
  .button.alt {
    color: #11f577;
    background-color: white; }
    button.alt:hover,
    .button.alt:hover {
      background-color: #11f577;
      color: #fff;
      border-color: #11f577; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 87.5%;
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1000px; } }

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1050px; } }

.row .column {
  margin-bottom: 2%;
  padding: 1em; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row .column {
      color: #50ffc5;
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin: 1%; }
      .row .column.one-half {
        width: 50%; }
      .row .column.one-third {
        width: 33.3333%; }
      .row .column.two-thirds {
        width: 66.6666%; }
      .row .column.one-fourth {
        width: 25%; } }

.row.demo .column {
  background: #505050;
  padding: 1em;
  text-align: center; }
