// VARIABLES
$body-fontfamily: 'Fira Sans', sans-serif;
$heading-fontfamily: 'Libre Baskerville', serif;

$color-accent: red;

// IMPORT PARTIALS
@import 'partials/toc';
@import "partials/typography";

