// BUTTONS

button {
    font-size: inherit;
}

button,
.button {
    background-color: $color-links;
    color: #fff;
    padding: 1em;
    display: inline-block;
    margin: .5em;
    border-radius: 2em;
    margin-bottom: 2em;

    &:hover {
        background-color: $color-links-dark;
        color: #fff;
    }

}