// Grid

// This is a simple sementic grid
// 1/2 col, 1/3 col, etc.

.row .column {
    margin-bottom: 2%;
    padding: 1em;
}

// CSS Grid
@media (min-width: $breakpoint-small) {
    .row {
        display: flex;
        justify-content: center;
        margin-left: -1%; // removes tiny left margin
        margin-right: -1%; // removes tiny right margin


        .column {
            color: rgb(80, 255, 197);
            flex-grow: 1; // expands to full width
            margin: 1%;

            &.one-half { width: 50%; }
            &.one-third { width: 33.3333%; }
            &.two-thirds { width: 66.6666%; }
            &.one-fourth { width: 25%; }
        }
    }
            
}
    

// for demo only
.row.demo {
    // background: yellow;
    .column {
        background: rgb(80, 80, 80);
        padding: 1em;
        text-align: center;
    }
}

